#start-button {
  cursor: pointer;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #114ca3;
}

.h1 {
  color: rgb(224, 219, 219);
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

.card {
  flex: 0 0 calc(33.333% - 10px);
  aspect-ratio: 1 / 1;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /*This hides back side when flipped*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card-front {
  background-color: #6e468b;
  color: white;
  font-size: 2rem;
}

.card-back {
  background-color: white;
  transform: rotateY(180deg);
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg); /*this is for flipping */
  background-color: #f8f8f8;
}

#scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  background-color: cornflowerblue;
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

score {
  font-size: 1.1rem;
  font-weight: bold;
}
